body {
  background-color: rgba(222, 222, 222, 0.396);
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.centerRow {
  justify-content: center;
}

.centerCol {
  align-items: center;
}

.flexGap{
  gap: 20px;
}

.align-left{
  align-self: flex-start;
}


.padding10{
  padding: 10px;
}

.buttons{
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.buttons:hover,
.buttons:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.buttons:hover {
  transform: translateY(-1px);
}

.buttons:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.backgroundWhite {
  background-color: #cef1d7;
}

.backgroundGreen {
  background-color: #21e171;
}

.backgroundRed {
  background-color: #b93030;
}


#messages {
  border-radius: 0.25rem;
  padding: 5%;
  overflow: scroll;
}

.inputBox {
  outline: 0;
  background: transparent;
  padding: 20px;
  font-weight: 100;
  font-size: 1em;
  color: #343434;
}


/* Border */

.border1B{
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.borderRadius{
  border-radius: 10px;
}

.borderRadius1001{
  border-radius: 10px 0px 0px 10px;
}

.inputBox:focus {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}


.maxHeight95vh{
  max-height: 95vh;
}

.maxHeight80vh{
  max-height: 80vh;
}

.overflowScroll{
  overflow: scroll;
}

.width30vw{
  width: 30vw;
}

.maxWidth200 {
  width: 200px;
}

.maxWidth{
  width: 100%;
}

.width50vw{
  width: 50vw;
}


.width30vw{
  width: 30vw;
}

.width25vw{
  width: 25vw;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}


.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.hide{
  display: none;
}


h2,h3{
  font-weight: 300;
  font-size: 1.5em;
}

.overflowScroll{
  overflow: scroll;
}

.activeCallBox{
  background-color: rgb(186, 186, 186);;
}